23-zig/*
!23-zig/*.zig

22-rust/target/
22-rust/Cargo.lock

21-c/*.out

20-go/*

15-ada/*
!15-ada/hello.adb

13-dart/.dart_tool/
13-dart/build/
13-dart/pubspec.lock
13-dart/.packages
!20-go/*.go

10-dlang/*
!10-dlang/*.d

09-nim/*
!09-nim/*.nim

08-erlang/*.beam

07-ocaml/*
!07-ocaml/*.ml

04-haskell/*
!04-haskell/*.hs

03-clisp/*.fasl

02-fsharp/bin/
02-fsharp/obj/

01-asm/*
!01-asm/*.asm

!**/Makefile
!**/input